#footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: $color7;
  height: 3rem;

  @include breakpoint(md) {
    height: 15vh;
  }
  @include breakpoint(lg) {
    height: 10vh;
  }
  .media-icons {
    color: $color3;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;

    a {
      margin: 0 1.5rem;
    }
  }
}