@include media-sm {
    .top-display {
        padding-bottom: 10%;
        img {
            width: 10rem;
            height: 7rem;
        }
        li {
            width: 40%;
        }
        
    }
    #footer {
        height: 10vh;
    }
}
@include media-md {
    #app {
        margin-top:15vh;
    }
    
    
    #footer {
        height: 15vh;
    }
}

@include media-lg {
    .top-display {
        li {
            width: 15%;
        }
    }
    #footer{
      align-items: flex-end;
      flex-direction: column;
      padding-right:10%;
    }
    
}

@include media-xl {}