@include media-xs {

	.random {
			&__btn-area {
					display: flex;
					justify-content: center;
					margin-top:5%;

					button {
							border-radius: $border-radius2;
							margin: 0;
					}
			}   
	}
}

@include media-sm {

	//random page
	.random {
			.quiz-detail {
			.multiples {
					padding: 3% 0;
					div {
							width: 100%;
							padding: 3% 2%;
							font-size: 1rem;
						}
				}
			}
			&__btn-area {
					display: flex;
					justify-content: center;
					margin-top:5%;

					button {
							border-radius: $border-radius2;
							margin: 0;
					}
			}   
	}

}
@include media-md {

	//random page

		.random {
				padding-top: 0;

			.quiz-detail {
					.question {
							font-size: 1.9rem;
							padding: 2% 5% 0;
							width: 90%;
					}
			.multiples {
					padding: 3% 0;
					div {
							width: 100%;
							padding: 3% 2%;
							font-size: 1.5rem;
						}
				}  
			}
			&__btn-area {
					margin-top:5%;
			}   
	}
}