@include media-sm {

    .top-display {
        padding-bottom: 10%;
        img {
            width: 10rem;
            height: 7rem;
        }
        &__card {
            width: 40%;
        }  
    }

    #footer {
        height: 10vh;

        .media-icons {
            width:30%
        }
    }

    //home page 

    .home {
        &__toggle-btn {
            padding: .2rem .8rem;
            margin: 2%;
            font-size: .9rem;
            border-radius: $border-radius2;
           
        }
        .top-display {
            padding:2% 0 10vh;
            &__card {
                width: 45%;
    
                h3 {
                    font-size: .8rem;
                }
                h4,p {
                    font-size: .6rem;
                }
                p {
                    margin: 0;
                }
            }
        }
    }

    //common between details and random
    .quiz-detail {
      
      .question {
                padding:3% 0 1%;
                width: 100%; 
                font-size: 1.1rem;  
            }
              
      .labels {
                &__label {
                    font-size: .9rem;
                    border-radius: $border-radius2;
                }
              }
    }
    //random page
    .random {
        .quiz-detail {
        .multiples {
            padding: 3% 0;
            div {
                width: 100%;
                padding: 3% 2%;
                font-size: 1rem;
              }
          }
        }
        &__btn-area {
            display: flex;
            justify-content: center;
            margin-top:5%;

            button {
                border-radius: $border-radius2;
                margin: 0;
            }
        }   
    }
    
    
    
    //details page

    .details {
        flex-direction: column;
        height: 100%;
        margin-bottom:10vh;
        width: 100vw;

        &__for-detail {
            width: 100%;
           
            .multiples {
                height: 30vh;
                div {
                    width: 40%;
                    display: flex;
                    padding:3%;
                    border-radius: $border-radius2;
                    font-size: .9rem;
                }
            }
        }
        &__related-questions {
            justify-content:  center;
            width: 100%;
            margin-top: 10%;
            .related-title {
                align-self: flex-start;
                padding-left:5%;
            }
            .related-container {
                width: 100%;
                justify-content: center;
                height: 40vh;
                .related {
                    border-radius: $border-radius2;
                    font-size: .9rem;
                    margin: .5%;
                    background: $color2;
                }
            }     
        }
    }
    
    //categories page
    .categories {
        margin:22% 5%;
        height: 100%;
        overflow: scroll;
        h3 {
            padding: 0;
            font-size: 1rem;
        }

        &__item {
            li {
                width: 100%;
                border-radius: $border-radius2;
                height: 35px;
            }
        }
    }
}
@include media-md {
    #app {
        margin-top:10vh;
    }
    #footer {
        height: 15vh;
    }
    //home page
    .home {
         &__toggle-btn {
            margin: 2%;
        }
        .top-display {
            padding-bottom: 18vh;
        }
    }
    //details page
    .details {
        flex-direction: column;
        justify-content: center;
        height: 75vh;
        &__for-detail {
             width: 100%;
             padding-top: 0;
             .question {
                 width: 90%;
                 padding: 1% 5% 0;
             }
        }
        .multiples {
             height: 30vh;
        }
        &__related-questions {
            width: 100%;
            .related-title {
                font-size: 1.3rem;
                padding: 2% 0;
            }
            .related-container {
                flex-direction: row;
                height: 20vh; 
                .related {
                    width: 30%;
                    background: $color2;
                }
            }
        }
    }

    //categories page
    .categories {
        margin:18% 8%;
        padding-bottom: 5vh;
        height: 100%;
        overflow: scroll;

        h3 {
            padding: 0;
        }
        &__item {
            li {
                width: 100%;
                border-radius: $border-radius2;
                height: 35px;
                font-size: 1.2rem;
            }
        }
    }

    //random page

     .random {
         padding-top: 0;

        .quiz-detail {
            .question {
                font-size: 1.9rem;
                padding: 2% 5% 0;
                width: 90%;
            }
        .multiples {
            padding: 3% 0;
            div {
                width: 100%;
                padding: 3% 2%;
                font-size: 1.5rem;
              }
          }  
        }
        &__btn-area {
            margin-top:5%;
        }   
    }

    .multiples {
        div {
            width: 30%;
        }
    }
}

@include media-lg {
    .top-display {

        &__card {
            width: 15%;
            
        }
    }
    
}

@include media-xl {}