@import 'config';
@import 'loader';
@import 'footer';
@import 'home';
@import 'categories';
@import 'details';

body {
  background-color: $color2;
}

#app {
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color1;
  padding:0;

  @include breakpoint(md) {
    margin-top: 10vh;
  }

}

#nav {
  width: 100vw;
  height:10vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-weight: bold;
    color: $color1;
  }
  a.router-link-exact-active {
    color: $color3;
  }
}